<h4><%= @raw_response_data['total'] %> total stores</h4>
<ul>
  <% @stores.each do |store| %>
    <li id='store-<%= store.storeId %>'>
      Name: <%= link_to store.longName, store_path(store.storeId) %>
      <ul>
        <li>
          City: <%= store.city %>
        </li>
        <li>
          Distance: <%= store.distance %> miles
        </li>
        <li>
          Phone Number: <%= store.phone %>
        </li>
        <li>
          Store Type: <%= store.storeType %>
        </li>
      </ul>
    </li>
  <% end %>
</ul>

